.container{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top:40px;
}

.title{
    background-color: goldenrod;
    font-weight: bolder;
    font-size: xx-large;
    box-shadow: 2px 2px 2px;
    padding: 20px;
}

.child1,.child2{
    height: 100px;
    width: 150px;
    background-color: powderblue;
    border-radius: 4%;
    box-shadow: 2px 2px 4px black;
}

.child1:hover,.child2:hover{
    background-color: greenyellow;
}

.child1:active,.child2:active{
    background-color: yellow;
}